@mixin flexChilds($direction: row, $gap: 0.5rem) {
    & > div {
      @include flexContainer($direction, $gap);
    }
  }
  
  .bar {
    @include flexContainer;
    position: absolute;
    width: 100vw;
    background: linear-gradient( rgba(49, 49, 49, 0.603), rgba(66, 66, 66, 0.301), rgba(99, 99, 99, 0.027));
    grid-gap: 1.5rem;
    padding-top: 1em;
    
    color: white;
    @include flexChilds;
    &__logo{
      font-size: 25px;
      font-weight:600;
      font-family: 'Fredoka', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    &__navigators {
      @include flexChilds($direction: column, $gap: 8px);
      & > div {
        
        padding: 11px;
        font-size: 22px;
        cursor: pointer;
        &:not(:last-child) {
          border-right: 1px solid rgba(195, 195, 195, 0.342);
          &:hover{
            border-color: darken($color: $white, $amount: 40);
            color:  darken($color: $white, $amount: 40);
        }
        }
      }
     
      
    }
    &__account{
      cursor: pointer;
      font-size: 15px;
      font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
   
  }

  .pnavSize{
      font-size: 19px;
  }
  .navBar_p30{
      padding-right: 35px;
  }
  
      